.container {
  width: 538px;
  background-color: red;
  height: 58px;
}

section,
aside {
  margin: 1.858736059%; /*  10px ÷ 538px = .018587361 */
}
section {
  background-color: yellow;
  float: left;
  width: 63.197026%; /* 340px ÷ 538px = .63197026 */
}

aside {
  float: right;
  background-color: blue;

  width: 29.3680297%; /* 158px ÷ 538px = .293680297 */
}
